@CHARSET "UTF-8";

div.index_back {
  width: 100%;
  height: 100%;
  background-image: url(../main02.png);
  background-size: cover;
  background-attachment: fixed;
  background-position: -550px 0;
  position: absolute;
  top: 0; left: 0;	
  z-index: -1;
  filter : brightness(80%);
  -webkit-filter : brightness(80%);
}

div.header {
	background-color: #fff;
}

div.mainMenus > div {
  	height : 120px;
}

.btn_index_home {
	color: steelblue !important;
	cursor: pointer;
	font-weight: bold !important;
}

div.index_cont {
	text-align: center;
	color: #fff;
	font-size: 1.2em;
	margin-bottom: 40px;
}

div.index_cont > h2 {
	margin-top: 30px;
	font-size: 2em;
}

/*============   로그인   ============*/

.btn_index_login {
  display: block;	
  text-decoration: none;
  text-align: left;
  padding: 10px 20px;
  color: #fff !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  margin-bottom: 10px;
}

div.loginWrap {
	margin : 15px;
}

.index_menu {
	display: none;
}

.login {
	display: block !important;
}

.login > li > a {
  border-radius: 0 !important;
  background-color: transparent !important;
}

.login > li:last-child > a {
	border-bottom: none;
}

.login > li:first-child > a, .login > li:first-child > a:hover {
	border-top: none !important;
}

.login > li > a:hover {
	border-top: 1px solid #fff !important;
}

input#email, input#password {
	width: 80%;
	margin-bottom: 3%;
}

.login-label {
	margin-bottom: 3%;
}
.profile_img {
  width: 90px;
  height: 90px;
  border-radius: 45px;
  display: none;
}
.index_profile {
  padding: 10px;
  height: 120px;
  line-height: 10px;
  position: relative;
}
.index_profile > .profile_nickName {
  position: absolute;
  font-size: 23px;
  top: 20px;
  right: 5px;
}
.index_profile > .login_edit {
  right: 10px;
  bottom: 25px;
  font-size: 23px;
  position: absolute;
  display: none;
}


/*============   스케줄 팝업 버튼   ============*/
.pro_sdno_selector {
    width: 100%;
    height: 30px;
    margin-bottom: 2%;
    line-height: 0px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: #fff;
}

.pro_sdno_selector:last-child {
	margin-bottom: 0px;
}

#routeSelect {
   width: 250px;
   padding: 5%;
   background-color: rgba(255, 255, 255, 0.8);
}