@CHARSET "UTF-8";

div.header {
	background-color: #fff;
}

div.mainMenus > div {
  	height : 120px;
}

.btn_index_home {
	color: steelblue !important;
	cursor: pointer;
}


/*============   로그인   ============*/

div.loginWrap {
	margin : 15px;
}