.pro_day{
  font-size: 20px;
  font-weight: 700;
}
.pro_dayWeather{
  text-align: center;
  height: 60px;
  line-height: 44px;
}
.pro_weathers {
	float:right;
	height: 32px;
	width: 50px;
}
.pro_weather{
	margin-top: -8px;
}
.pro_map_icon{
  font-size: 20px;
}
.pro_listview{
  padding-top: 20px;
}
.pro_routeBox_top{
  padding-top: 15px;
  position: relative;
}
.pro_routeBox_bot{
  font-size: 14px;
  position: relative;
}
.pro_routeBox_top > .pro_type_icon{
  font-size: 30px;
  margin-right: 2px;
  margin-left: 2px;
}
.pro_routeBox_title{
  font-size: 20px;
}
.pro_routeBox_bot > .pro_route_time{
  font-size: 14px;
  display: inline-block;
  width: 38px;
}
.pro_routeBox_bot > .pro_route_name{
  font-size: 14px;
  left: 38px;
}
.pro_memo_icon{
  position: absolute;
  float: right;
  right: 40px;
  top: 0;
}
.pro_remove_icon{
  position: absolute;
  float: right;
  right: 0px;
  top: 0;
}
.pro_info_icon{
  position: absolute;
  float: right;
  right: 19px;
  top: 0;
}
.pro_alarmOn {
  color: red;
  opacity: 0.7;
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0), 0 0 0.8em 0 yellow;
}
.pro_modal {
	padding-top: 40%;
}