@CHARSET "UTF-8";

.ui-content {
	margin: -1em;
}

/*============   맵   ============*/

div.proceeding_map {
  position:absolute; 
  top: 0px; left: 0px;
  width:100%; 
  height:100%;
}

#btn_pro_map {
	position: absolute;
	top: 20px; right : 20px;
	z-index: 100;
}

#btn_pro_back {
  position: absolute;
  top: 20px; right : 20px;
  z-index: 100;
}

#btn_pro_current {
	position: absolute;
	top: 60px; right: 20px;
  z-index: 100;
}
